@mixin baElements ($w, $h) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
}
%flexCenter{
  display: flex;
  align-items: center;
}

@mixin baImages ($w, $h, $url) {
  @include baElements($w, $h);

  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin respond($breakpoint){
  @if($breakpoint==phones){
    @media only screen and (max-width:900px){
      @content;
    }
  }
}
@mixin respond($breakpoint){
  @if($breakpoint==mobile__phones){
    @media only screen and (max-width:600px){
      @content;
    }
  }
}

